@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Dancing+Script&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
--white: #f4f1de;
--orange: #e07a5f;
--violet: #3d405b;
--lightviolet: #666B98;
--green: #81b29a;
--yellow: #f2cc8f;
}

::selection {
text-shadow: none;
background: var(--white);
color: var(--white);
}

*, *::after, *::before {
transition: all 0.3s ease-in-out;
}

html {
font-size: 100%;
}

body {
font-size: 1em;
line-height: 1.6;
font-weight: 400;
font-family: "Montserrat", sans-serif;
color: var(--white);
background: var(--violet);
margin: 0;
padding: 0;
-webkit-tap-highlight-color: transparent;
outline: none;
width: 100%;
height: 100%;
}

h1, h2, h3, h4 {
font-weight: 700;
font-family: "Playfair Display", serif;
}
h1 { font-size: 3.00em; }
h2 { font-size: 2.50em; }
h3 { font-size: 2.17em; }
h4 { font-size: 2.00em; }
p { font-size: 1.125em; }

a {
color: var(--white);
font-size: 1.125em;
font-family: "Playfair Display", serif;
}
a:hover {
color: var(--orange);
}

section {
position: relative;
}
.container {
width: 100%;
}
nav ul {
list-style-type: none;
display: flex;
position: fixed;
top: 0;
right: 8rem;
margin: 0;
padding: 0;
z-index: 3;
box-shadow: 0 0 1rem rgba(0,0,0,0.25);
}
nav ul li a {
padding: 0.5rem 2rem;
display: block;
width: 4rem;
text-align: center;
text-decoration: none;
position: relative;
overflow: hidden;
}
nav ul li a:hover {
color: var(--violet);
}
nav ul li a:before, nav ul li a:after {
position: absolute;
content: '';
width: 100%;
height: 100%;
background: var(--yellow);
left: 0;
top: 0;
z-index: -1;
}
nav ul li a:after {
transform: translateY(-100%);
}
nav ul li a:hover:after {
transform: translateY(-0.25rem);
}
a.nav-about:before {
background: var(--orange);
}
a.nav-shots:before {
background: var(--green);
}
a.nav-contact:before {
background: var(--lightviolet);
}
.serif {
font-family: "Playfair Display", serif;
}
.script {
font-family: "Dancing Script", serif;
}
.black {
font-weight: 900;
}
.hero {
margin: 8rem;
margin-right: 0;
width: calc(100% - 8rem);
}
h1.name {
font-weight: 900;
font-size: 5em;
position: relative;
text-shadow: 	-1px 1px var(--orange),
 						-2px 2px var(--orange),
 						-3px 3px var(--orange),
 						-4px 4px var(--orange),
 						-5px 5px var(--orange);
left: 0.25rem;
color: var(--yellow);
margin: 0;
margin-bottom: 1rem;
z-index: 2;
}
h1.name span {
position: absolute;
z-index: -1;
color: rgba(255,255,255,0.15);
font-family: "Montserrat", sans-serif;
font-style: italic;
font-size: 0.9em;
left: -4rem;
top: -1.25rem;
text-shadow: none;
}

.short-info {
width: 100%;
display: flex;
background: var(--orange);
}
.short-info .short-about {
flex: 0 0 calc(100% - 29rem);
padding: 4rem 3rem 0.5rem 2rem;
display: flex;
align-items: flex-end;
position: relative;
}
.short-about .profession {
position: absolute;
left: -1.5rem;
font-size: 1.25em;
font-family: "Playfair Display", serif;
font-style: italic;
bottom: 0;
transform: rotate(-90deg);
transform-origin: bottom left;
transform-style: preserve-3D;
color: var(--yellow);
}
.short-about .profession:before {
content: '';
position: absolute;
height: 0.5rem;
width: 0.5rem;
top: -1.5rem;
border-radius: 0.5rem;
background: var(--orange);
box-shadow: 1.5rem 0 var(--green), 3rem 0 var(--yellow);
}
.short-info .avatar {
flex: 0 0 24rem;
height: 24rem;
position: relative;
background: url(../img/avatar.webp);
background-size: cover;
}
.short-info .avatar .cta {
position: absolute;
bottom: 0;
right: 0;
padding: 1rem 0 1rem 2rem;
display: flex;
flex-flow: row nowrap;
justify-content: center;
text-decoration: none;
z-index: 2;
overflow: hidden;
}
.cta svg.next{
width: 1.5rem;
fill: var(--white);
margin: 0 2rem 0 1rem;
}
.short-info .avatar .cta:after, .short-info .avatar .cta:before {
position: absolute;
content: '';
width: 100%;
height: 100%;
background: var(--orange);
left: 0;
top: 0;
z-index: -1;
}
.short-info .avatar .cta:after {
background: var(--lightviolet);
transform: translateX(-100%);
}
.short-info .avatar .cta:hover {
color: var(--white);
}
.short-info .avatar .cta:hover svg.next {
margin: 0 1.5rem;
}
.short-info .avatar .cta:hover:after {
transform: translateX(0);
}
#home.hidden {
transform: translateY(-100px);
opacity: 0;
}
#home.aside .short-info {
overflow: hidden;
}
#home.aside .short-info .short-about{
transform: translateY(-100%);
opacity: 0;
transition: transform 0.5s, opacity 0.5s;
}
#home.aside .short-info .avatar{
transform: translateY(-100%);
opacity: 0;
transition: transform 0.5s 0.15s, opacity 0.5s 0.15s;
}
#home.aside .short-info {
transform: scaleY(0);
transition: transform 0.5s 0.25s;
transform-origin: top center;
transform-style: preserve-3D;
}
#home.aside h1.name {
font-size: 3em;
color: var(--white);
left: -0.5rem;
transition: font-size 0.5s 0.25s, color 0.5s 0.25s, left 0.5s 0.25s;
}
#home.aside h1.name i {
transition: font-size 0.5s -0.25s;
}
#home.aside h1.name span {
opacity: 0;
}
.social {
position: absolute;
left: 12rem;
bottom: -7rem;
}
.social ul {
display: flex;
list-style-type: none;
padding: 0;
}
.social ul li a {
width: 3rem;
display: block;
}
.social ul li a img {
width: 100%;
}
.social ul li a:hover img {
transform: scale(1.1);
z-index: 2;
box-shadow: 0 0 1rem rgba(0,0,0,0.25);
}
#about {
position: absolute;
width: calc(100% - 32rem);
height: 8rem;
background: var(--white);
top: 19rem;
left: 0;
}
#about .overlay {
position: absolute;
right: -2rem;
bottom: 0;
}
#about .waves {
width: 8rem;
fill: var(--green);
filter: drop-shadow(0 1.5rem var(--green)) drop-shadow(0 1.5rem var(--green));
}
#about.active .overlay {
right: 2rem;
opacity: 0;
}
#about.active {
width: 100vw;
height: calc(2 * ((100vw - 16rem) * 0.8888) + 35rem);
top: 0;
background: var(--yellow);
transition: background 0.5s 0.25s, width 0.5s 0.25s, height 0.5s 0.25s, top 0.5s 0.25s;
}
#about:before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100vw;
height: calc(((100vw - 16rem) * 0.8888) + 35rem);
background: var(--violet);
transform: translateY(100%);
opacity: 0;
z-index: -1;
}
#about.active:before {
transform: translateY(0);
opacity: 1;
transition: opacity 0.5s 0.75s, transform 0.5s 0.75s;
z-index: 0;
}
#about .about.hero {
margin-bottom: 4rem;
}
#about .about.hero h1.name {
font-size: 3em;
opacity: 0;
color: var(--white);
left: -0.5rem;
}
#about.active .about.hero h1.name {
opacity: 1;
transition: opacity 0.025s 0.725s;
}
#about .about.hero h1.name span {
opacity: 0;
}

.gallery {
width: calc(100vw - 16rem);
height: calc((100vw - 16rem) * 0.8888);
margin: 0 8rem;
display: block;
position: relative;
z-index: 1;
display: none;
opacity: 0;
transition: opacity 0.75s ease-out, transform 0.5s ease-out;
}
.gallery.shown {
display: block;
transform: translateY(180px);
}
.gallery.active {
opacity: 1;
transform: translateY(0);
}
.gallery .column {
float: left;
width: calc((100vw - 16rem) / 3);
height: 0;
padding-top: calc(((100vw - 16rem) / 3) * 1.33);
background: var(--violet);
margin: 0;
box-shadow: 0 0 0 0.5rem var(--orange);
position: relative;
overflow: hidden;
}
.gallery .column:before {
content: attr(data-number);
position: absolute;
font-size: 7em;
color: var(--orange);
font-weight: 900;
left: -1.5rem;
top: -3.5rem;
z-index: 1;
}
.gallery .column:hover:before {
transform: translateY(-100%);
opacity: 0;
}
.gallery .column .caption {
position: absolute;
white-space: nowrap;
left: 0;
bottom: 0;
width: calc(100% - 2.5rem);
padding: 2rem 1rem 0 1rem;
font-size: 2.5em;
color: var(--white);
background: linear-gradient( to top, rgba(0,0,0,0.75), transparent);
font-weight: 900;
z-index: 1;
transform: translateY(100%);
opacity: 0;
}
.gallery .column .caption:before {
content: attr(data-small);
position: absolute;
left: 2rem;
font-size: 0.5em;
font-family: "Montserrat", sans-serif;
z-index: -1;
color: var(--yellow);
}
.gallery .column:nth-child(3) .caption {
width: calc(100% - 2rem);
}
.gallery .column:hover .caption {
transform: translateY(0);
opacity: 1;
}
.gallery .column.two {
margin-top: calc(0.5 * (((100vw - 16rem) / 3) * 1.33));
}
.gallery .column.three {
margin-top: calc(((100vw - 16rem) / 3) * 1.33);
}
.image {
width: 100%;
height: 100%;
mix-blend-mode: lighten;
position: absolute;
left: 0;
top: 0;
}
.image:before {
mix-blend-mode: multiply;
background: var(--orange);
content: '';
position: absolute;
width: 100%;
height: 100%;
z-index: 2;
}
.gallery.two .column {
background: var(--violet);
box-shadow: 0 0 0 0.5rem var(--yellow);
}
.gallery.two .column .image:before {
background: var(--yellow);
}
.gallery.two .column:before {
color: var(--yellow);
}
.gallery .column:hover .image:before {
background: transparent;
}
.image img {
width: 100%;
height: 100%;
object-fit: cover;
position: relative;
}
.image, .image:before, .column {
will-change: opacity;
}
.gallery .image-center {
width: calc(100vw - 16rem);
height: calc((100vw - 16rem) * 0.8888);
background: var(--violet);
z-index: -1;
margin: 0;
box-shadow: 0 0 0 0.5rem var(--green);
position: absolute;
top: calc(((100vw - 16rem) * 0.8888) / 2);
}
.image-center .quote {
position: absolute;
z-index: 2;
line-height: 1;
transform: translateX(-50%);
font-style: italic;
will-change: opacity;
}
.quote.one {
top: calc(25% - 0.5em);
left: 25%;
font-family: "Playfair Display", serif;
font-weight: 900;
font-size: 4em;
}
.quote.two {
top: calc(37.5% - 0.5em);
left: 33%;
font-weight: 400;
font-size: 3.25em;
}
.quote.three {
top: calc(50% - 0.5em);
left: 50%;
font-family: "Dancing Script", serif;
font-weight: 700;
font-style: normal;
font-size: 6em;
}
.quote.four {
bottom: calc(37.5% - 0.5em);
right: 33%;
font-family: "Playfair Display", serif;
letter-spacing: 0.75rem;
font-size: 3.25em;
transform: translateX(50%);
}
.quote.five {
bottom: calc(25% - 0.5em);
right: 22.5%;
font-weight: 900;
font-size: 3.75em;
transform: translateX(50%);
}
.image-center:hover .quote {
opacity: 0;
}
.image-center:hover .quote.one, .image-center:hover .quote.two {
transform: translateX(-50%) translateY(50%);
}
.image-center:hover .quote.four, .image-center:hover .quote.five {
transform: translateX(50%) translateY(-50%);
}
.image-center .image {
width: 100%;
height: 100%;
mix-blend-mode: lighten;
position: absolute;
left: 0;
top: 0;
}
.image-center .image:before {
mix-blend-mode: multiply;
background: var(--green);
content: '';
position: absolute;
width: 100%;
height: 100%;
z-index: 2;
}
.image-center:hover {
background: transparent;
}
.image-center:hover .image:before {
background: transparent;
}
.gallery .image-half {
position: absolute;
width: 100%;
height: 0;
padding-top: 44.44%;
z-index: -1;
left: 0;
box-shadow: 0 0 0 0.5rem var(--lightviolet);
background: var(--violet);
}
.gallery .image-half .image:before {
background: var(--lightviolet);
opacity: 0.75;
}
.image-half:hover {
background: transparent;
}
.image-half:hover .image:before {
background: transparent;
}
.gallery.one .image-half {
top: 0;
left: 0;
}
.gallery.two .image-half {
bottom: 0;
left: 0;
}
.slideUp {
opacity: 0;
transform: translateY(100%);
}
#about.active + section#shots {
margin-top: calc( 2* ((100vw - 16rem) * 0.8888) - 3rem);
transition: margin-top 0.5s 0.25s;
}
section#shots {
height: 100px;
background: var(--green);
position: relative;
}
section#contact {
height: 100px;
background: var(--lightviolet);
}
@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {}

@media (min-width: 1000px) {
}

@media (min-width: 1200px) {}