@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
--white: #f4f1de;
--orange: #e07a5f;
--violet: #3d405b;
--lightviolet: #666B98;
--green: #81b29a;
--yellow: #f2cc8f;
}

::selection {
text-shadow: none;
background: var(--white);
color: var(--white);
}

*, *::after, *::before {
transition: all 0.3s;
}

html {
  font-size: 100%; }

body {
font-size: 1em;
line-height: 1.6;
font-weight: 400;
font-family: "Montserrat", sans-serif;
color: var(--white);
background: var(--violet);
margin: 0;
padding: 0;
}

h1, h2, h3, h4 {
font-weight: 700;
font-family: "Playfair Display", serif;
}
h1 { font-size: 3.00em; }
h2 { font-size: 2.50em; }
h3 { font-size: 2.17em; }
h4 { font-size: 2.00em; }
p { font-size: 1.125em; }

a {
color: var(--white);
font-size: 1.125em;
font-family: "Playfair Display", serif;
}
a:hover {
color: var(--orange);
}

section {
position: relative;
}

.container {
width: 100%;
}

nav ul {
list-style-type: none;
display: flex;
position: fixed;
top: 0;
right: 8rem;
margin: 0;
padding: 0;
z-index: 3;
box-shadow: 0 0 1rem rgba(0,0,0,0.25);
}
nav ul li a {
padding: 0.5rem 2rem;
display: block;
width: 4rem;
text-align: center;
text-decoration: none;
position: relative;
overflow: hidden;
}
nav ul li a:hover {
color: var(--violet);
}
nav ul li a:before, nav ul li a:after {
position: absolute;
content: '';
width: 100%;
height: 100%;
background: var(--yellow);
left: 0;
top: 0;
z-index: -1;
}
nav ul li a:after {
transform: translateY(-100%);
}
nav ul li a:hover:after {
transform: translateY(-0.25rem);
}
a.nav-about:before {
background: var(--orange);

}
a.nav-shots:before {
background: var(--green);
}
a.nav-contact:before {
background: var(--lightviolet);
}
.serif {
font-family: "Playfair Display", serif;
}
.hero {
margin: 8rem;
margin-right: 0;
width: calc(100% - 8rem);
}
h1.name {
font-weight: 900;
font-size: 5em;
position: relative;
text-shadow: 	-1px 1px var(--orange),
 						-2px 2px var(--orange),
 						-3px 3px var(--orange),
 						-4px 4px var(--orange),
 						-5px 5px var(--orange);
left: 0.25rem;
color: var(--yellow);
margin: 0;
margin-bottom: 1rem;
z-index: 2;
}
h1.name span {
position: absolute;
z-index: -1;
color: rgba(255,255,255,0.15);
font-family: "Montserrat", sans-serif;
font-style: italic;
font-size: 0.9em;
left: -4rem;
top: -1.25rem;
text-shadow: none;
}

.short-info {
width: 100%;
display: flex;
background: var(--orange);
overflow: hidden;
}
.short-info .short-about {
flex: 0 0 calc(100% - 29rem);
padding: 4rem 3rem 0.5rem 2rem;
display: flex;
align-items: flex-end;
position: relative;
}
.short-about .profession {
position: absolute;
left: -1.5rem;
font-size: 1.25em;
font-family: "Playfair Display", serif;
font-style: italic;
bottom: 0;
transform: rotate(-90deg);
transform-origin: bottom left;
transform-style: preserve-3D;
color: var(--yellow);
}
.short-info .avatar {
flex: 0 0 24rem;
height: 24rem;
position: relative;
background: url(../img/avatar.jpg);
background-size: cover;
}
.short-info .avatar .cta {
position: absolute;
bottom: 0;
right: 0;
padding: 1rem 0 1rem 2rem;
display: flex;
flex-flow: row nowrap;
justify-content: center;
text-decoration: none;
z-index: 2;
overflow: hidden;
}
.cta svg.next{
width: 1.5rem;
fill: var(--white);
margin: 0 2rem 0 1rem;
}
.short-info .avatar .cta:after, .short-info .avatar .cta:before {
position: absolute;
content: '';
width: 100%;
height: 100%;
background: var(--orange);
left: 0;
top: 0;
z-index: -1;
}
.short-info .avatar .cta:after {
background: var(--lightviolet);
transform: translateX(-100%);
}
.short-info .avatar .cta:hover {
color: var(--white);
}
.short-info .avatar .cta:hover svg.next {
margin: 0 1.5rem;
}
.short-info .avatar .cta:hover:after {
transform: translateX(0);
}
#home.aside .short-info .short-about{
transform: translateY(-100%);
opacity: 0;
transition: transform 0.5s, opacity 0.5s;
}
#home.aside .short-info .avatar{
transform: translateY(-100%);
opacity: 0;
transition: transform 0.5s 0.15s, opacity 0.5s 0.15s;
}
#home.aside .short-info {
transform: scaleY(0);
transition: transform 0.5s 0.25s;
transform-origin: top center;
transform-style: preserve-3D;
}
#home.aside h1.name {
font-size: 3em;
transition: font-size 0.5s 0.25s;
}
#home.aside h1.name i {
transition: font-size 0.5s -0.25s;
}
#home.aside h1.name span {
transition: font-size 0.5s -0.25s;
color: var(--yellow);
opacity: 0.25;
}
#about {
position: absolute;
width: calc(100% - 32rem);
height: 8rem;
background: var(--white);
top: 19rem;
left: 0;
}
#about.active {
width: 100vw;
height: 100vh;
top: 0;
transition: width 0.5s 0.25s, height 0.5s 0.25s, top 0.5s 0.25s;
}
#about .about.hero h1.name {
font-size: 3em;
opacity: 0;
}
#about.active .about.hero h1.name {
opacity: 1;
transition: 0.3s 0.75s
}
#about .about.hero h1.name span {
color: var(--yellow);
opacity: 0.25;
}
@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {}

@media (min-width: 1000px) {
}

@media (min-width: 1200px) {}